.account-details {
    width: 1264px;
    background-color: var(--secondary-color);
    height: 500px;
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.account-overview {
    width: 600px;
    background-color: var(--secondary-color);
    height: 500px;
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.account-overview-container {
    display: flex;
    margin-bottom: 1rem;
}