.ledger-overview {
    background-color: var(--secondary-color);
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.ledger-history {
    background-color: var(--secondary-color);
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.ledger-details {
    background-color: var(--secondary-color);
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.ledger-purpose {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.ledger-heading {
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.ledger-active-tablet {
    background-color: 	#0F9D58;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.ledger-deactive-tablet {
    background-color: #DB4437;
    border-radius: 0.5rem;
    padding: 0.5rem;
}