.payment-heading {
    font-size: 1.75rem;
    
}

.payment-subheading {
    font-size: 1rem;
}

.payment-overview-stats {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 1rem;
    text-align: center;
    font-size: 1.75rem;
}

.payment-overview-stats-heading {
    font-size: 1.3rem;
    font-weight: bold;
}

.payment-overview-empty {
    color: var(--text-color);
}