.shop-overview {
    background-color: var(--secondary-color);
    margin: 1rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}

.shop-list {
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
    margin: 1rem ;
    border-radius: 10px;
}

.shop-city-list {
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 16px var(--primary-color);
    padding: 1rem;
}